{{- define "bodyclass" -}}some{{- end -}}
{{- define "main" -}}

{{- $original := ((site.GetPage "/talks").Resources.GetMatch (printf "*%s*" .CurrentSection.Params.img_name)) -}}
{{- $new := "" -}}
{{- $new = $original.Fill "400x400 Center" -}}


<img src="/djangoday.svg" style="width: 46%; margin-top: -170px" class="float-right">

<table style="margin-top: 30px; margin-left: 22px;">
<tr>
<td style="vertical-align: top">
<img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker" />
</td>
<td>
<h1>{{ .CurrentSection.Params.talk_by }}</h1>
<h1 class="secondary-main-header">{{ .CurrentSection.Title | markdownify }}</h1>
</td>
</tr>
</table>

<div style="clear: both; height: 500px;"></div>

{{- end -}}

