<div style="clear: both"></div>
{{ $talks := (where (where (.Site.GetPage "/talks").Pages.ByDate "Params.type" "talk") "published" "!=" "false") }}

{{ range sort $talks ".Params.talk_date" "asc" }}

{{ if .Params.venue_event }}

  <h2>
  <!--<span class="talktime">{{ dateFormat "15:04" .Params.talk_date }}</span>-->
  {{ .Title }}
  </h2>

{{ else }}
  <a href="{{ .Permalink }}">

  {{- $original := "" }}
  {{ if (eq .Params.img_name "") }}
    {{- $original = ((site.GetPage "/talks").Resources.GetMatch "pony.png") -}}
  {{ else }}
    {{- $original = ((site.GetPage "/talks").Resources.GetMatch (printf "*%s*" .Params.img_name)) -}}
  {{ end }}

  {{- $new := "" -}}
  {{- $new = $original.Fill "150x150 Center" -}}

  <img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />

  <h2 class="no-link-styling">
  <!--<span class="talktime">{{ dateFormat "15:04" .Params.talk_date }}</span>-->
  {{ .Title }}
  </h2>
  </a>

  {{ if .Params.talk_by }}
  <h5>{{ .Params.talk_by }}
  {{ if .Params.remote }}
  - remote 🌍
  {{ end }}
  {{ if .Params.stage }}
  - venue talk 🎤
  {{ end }}
  {{ if .Params.youtube_id }}
  <a href="{{ .Permalink }}">
    Watch talk 🎞️
  </a>
  {{ end }}
  </h5>
  {{ end }}

  {{ end }}

{{ if .Content }}
  {{ .Content | plainify | safeHTML | truncate 200 }}
{{ end }}


{{ if (or .Params.stage .Params.venue) }}
  <p><a href="{{ .Permalink }}" style="white-space: nowrap">Read more »</a></p>
  <div style="clear: both"></div>
{{ end }}

  <div style="clear: both"></div>

{{ end }}

{{ $slots_left := (sub 9 (len ($talks))) }}

<!-- range (seq (sub 9 (len ($talks)))) -->

{{ if (gt $slots_left 0) }}
  {{- $original := ((site.GetPage "/talks").Resources.GetMatch "pony.png") -}}
  {{- $new := "" -}}
  {{- $new = $original.Fill "150x150" -}}
  <img src="{{ $new.Permalink }}" alt="Speaker" class="img-speaker float-right" />

  <h2 class="no-link-styling">
  More exciting speakers to be announced...
  </h2>
  <p>Are you interested? We would love you hear from you: <a href="/cfp/">Read more about sending in your proposal</a></p>
  <div style="clear: both"></div>
{{ end }}

